{% extends 'shaq/project_base.html' %}

{% block title %}qcforms Javascript Tests{% endblock title %}

{% block head %}
	<link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-1.23.0.css">
	{% load staticfiles %}
{% endblock head %}

{% block main %}

<div class="container">
	<div id="qunit"></div>
	<div id="qunit-fixture"></div>

	<div style="border-style: solid; max-width: 33%; text-align: center;">
		<p>TEST:  Test get_private_S3_resource</p>
		<table>
			<tr>
				<th>STATIC REFERENCE</th>
				<th>TEST PREVIEW</th>
				<th>UNSIGNED URL</th>
			</tr>
			<tr>
				<td>
					<img style="max-width: 32%;" id="test-reference" src="{% static 'qcforms/test_image_coffee.jpeg' %}">
				</td>
				<td>
					<img style="max-width: 32%;" id="test-preview" src="https://s3.amazonaws.com/shaq-uploads/int-nc-form/test_image_coffee.jpeg">
				</td>
				<td>
					<img style="max-width: 32%;" id="test-unsigned" src="https://s3.amazonaws.com/shaq-uploads/int-nc-form/test_image_coffee.jpeg">
				</td>
			</tr>
		</table>
	</div>
</div>
{% endblock main %}

{% block scripts %}
<script src="https://code.jquery.com/qunit/qunit-1.23.0.js"></script>
<script type="text/javascript">
	var amz_sign_s3="{% url 'qcforms:amz_sign_s3' %}"
</script>
<script src="{% static 'qcforms/qcforms.js' %}"></script>
<script src="{% static 'qcforms/qcforms_tests.js' %}"></script>
{% endblock scripts %}
