{% extends 'shaq/project_base.html' %}

{% load staticfiles %}

{% block title %}
Interior NC {{ report.report_number }}
{% endblock title %}

{% block main %}
<div class="container">
	<h1>REPORT DETAIL</h1>
	<p><a class="btn btn-warning" href="{% url 'qcforms:int_nc_form' report.id %}" role="button">Edit Report</a></p>
	{% if report %}
		<table class="table table-bordered table-hover table-responsive">
			<tr>
				<td>REPORT NUMBER</td>
				<td>{{ report.report_number }}</td>
			</tr>
			<tr>
				<td>ORDER NUMBER</td>
				<td>{{ report.order_number }}</td>
			</tr>
			<tr>
				<td>VIN</td>
				<td>{{ report.vin }}</td>
			</tr>
			<tr>
				<td>REPORT DATE:</td>
				<td>{{ report.report_date }}</td>
			</tr>
			<tr>
				<td>ISSUE SUMMARY</td>
				<td>{{ report.issue_summary }}</td>
			</tr>
			<tr>
				<td>ISSUE IMAGE(S)</td>
				<td><img id="preview" src="{{ report.issue_image_url }}" class="img-responsive"></td>
			</tr>
		</table>
	{% else %}
		<p>No report.</p>
	{% endif %}
</div>
{% endblock main %}

{% block scripts %}
<script type="text/javascript">
var sign_s3_GET_url="{% url 'qcforms:sign_s3_GET' %}"
</script>
<script src="{% static 'qcforms/qcforms_int_nc_detail.js' %}"></script>
{% endblock scripts %}
