{% extends 'shaq/project_base.html' %}

{% block title %}Report Form{% endblock title %}

{% block head %}
	{% load bootstrap3 %}
	{% bootstrap_messages %}
	{% load staticfiles %}
	<link href="{% static 'qcforms/qcforms.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
<div class="container">
	<h1>QC-001 Interior NC Report Form</h1>
	<p>NOTE:  Images are automatically and instantly stored in S3 when selected.</p>
	<p><button id="add-image-button" type="button" class="btn btn-success">Add Image</button></p>
	<form action="{% url 'qcforms:QC1_form' report_id %}" method="post" class="form">
		{% csrf_token %}

		{{ formset.management_form }}

		<div id="image-panel" class="row">
		{% for image_form in formset %}
			<div class="image-col col-xs-12 col-sm-6 col-md-4 text-center">
				<button class="btn btn-default btn-block image-input-btn">Change Image
					<input class="image-input" type="file" accept="image/*" />
				</button>
				<span class="spin-span"></span>
				<img class="image-preview img-responsive img-thumbnail" src="{{ image_form.image_url.value }}">
				{% bootstrap_form image_form %}
			</div>
		{% endfor %}
		</div>

		<div class="row">
		{% bootstrap_form form %}
		
		{% buttons submit='Submit' reset='Reset' %}
		{% endbuttons %}
		</div>
	</form>

</div>
{% endblock main %}

{% block scripts %}
<script type="text/javascript">
var amz_sign_s3="{% url 'qcforms:amz_sign_s3' %}"
var reportID="{{ report_id }}"
</script>
<script src="{% static 'qcforms/qcforms.js' %}"></script>
<script src="{% static 'qcforms/qcforms_QC1_form.js' %}"></script>
{% endblock scripts %}


