{% extends 'shaq/project_base.html' %}

{% block head %}
{% load staticfiles %}
<link href="{% static 'qcforms/qcforms.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}
QC-001 Index
{% endblock title %}

{% block main %}
<div class="container">
	<h2>QC-001 Interior NC Report Index</h2>
	<p><a class="btn btn-block btn-success" href="{% url 'qcforms:QC1_form' 'new' %}" role="button">New Report</a></p>

	{% if report_list %}
		<table id="qc1_table" class="table table-bordered table-hover table-responsive display">
		<thead>
			<tr class="info">
				<th>REPORT NUMBER</th>
				<th>ISSUE SUMMARY</th>
				<th>QALERT RESOLVED</th>
				<th>CONTAINMENT</th>
				<th>NC RESOLVED</th>
			</tr>
		</thead>
		<tbody>
		{% for report in report_list %}
			<tr>
				<td><a href="{% url 'qcforms:QC1_detail' report.id %}" class="btn btn-default" role="button">{{ report.report_number }}</a></td>
				<td>{{ report.issue_summary|linebreaks }}</td>
				<td class="text-center">
					{% if report.qualityalert %}
					<a href="{% url 'qcforms:quality_alert_detail' report.qualityalert.id %}" class="bool-go-no-go">{{ report.qualityalert.resolved }}</a>
					{% else %}
					<span class="bool-go-no-go"></span>
					{% endif %}
				</td>
				<td class="bool-exclaim-true text-center">{{ report.containment }}</td>
				<td class="bool-go-no-go text-center">{{ report.resolved }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% else %}
		<p>No reports are available.</p>
	{% endif %}

</div>
{% endblock main %}

{% block scripts %}
<script src="{% static 'qcforms/qcforms.js' %}"></script>
{% endblock scripts %}
