{% extends 'shaq/project_base.html' %}

{% block head %}
{% load staticfiles %}
<link href="{% static 'qcforms/qcforms.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}
Interior NC {{ report.report_number }}
{% endblock title %}

{% block main %}
<div class="container">
	<p><a class="btn btn-block btn-primary" href="{% url 'qcforms:QC1_index' %}" role="button">Back to QC-001 Index</a></p>
	<p><a class="btn btn-block btn-success" href="{% url 'qcforms:QC1_form' report.id %}" role="button">Edit Report</a></p>
	{% if report %}
		<table class="table table-bordered table-hover table-responsive">
			<tr>
				<td>DOCUMENT NUMBER</td>
				<td>{{ report.doc_number }}</td>
			</tr>
			<tr>
				<td>DOCUMENT TITLE</td>
				<td>{{ report.doc_title }}</td>
			</tr>
			<tr>
				<td>REPORT NUMBER</td>
				<td>{{ report.report_number }}</td>
			</tr>
			<tr>
				<td>ISSUE RESOLVED?</td>
				<td class="bool-go-no-go">{{ report.resolved }}</td>
			</tr>
			<tr>
				<td>QUALITY ALERT?</td>
				<td><span class="bool-go-no-go">{{ report.qualityalert.resolved }}</span><a href="{% url 'qcforms:quality_alert_detail' report.qualityalert.id %}"> {{ report.qualityalert.report_number }}</a></td>
			</tr>
			<tr>
				<td>ORDER NUMBER</td>
				<td>{{ report.order_number }}</td>
			</tr>
			<tr>
				<td>BUILD NUMBER</td>
				<td>{{ report.build_number }}</td>
			</tr>
			<tr>
				<td>VIN</td>
				<td>{{ report.vin }}</td>
			</tr>
			<tr>
				<td>REPORT DATE:</td>
				<td>{{ report.report_date }}</td>
			</tr>
			<tr>
				<td>ISSUE SUMMARY</td>
				<td>{{ report.issue_summary|linebreaks }}</td>
			</tr>
			<tr>
				<td>ISSUE IMAGE(S)</td>
				<td>
					{% for image in report.intncimage_set.all %}
						<img src="{{ image.image_url }}" class="image-preview img-responsive img-thumbnail center-block">
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>LOCATION</td>
				<td>{{ report.location }}</td>
			</tr>
			<tr>
				<td>PART CATEGORY</td>
				<td>{{ report.part }}</td>
			</tr>
			<tr>
				<td>INSPECTION TYPE</td>
				<td>{{ report.inspection }}</td>
			</tr>
			<tr>
				<td>VEHICLE</td>
				<td>{{ report.vehicle }}</td>
			</tr>
			<tr>
				<td>DRIVE</td>
				<td>{{ report.drive }}</td>
			</tr>
			<tr>
				<td>SHIFT</td>
				<td>{{ report.shift }}</td>
			</tr>
			<tr>
				<td>CLEAN BUILD</td>
				<td>{{ report.clean_build }}</td>
			</tr>
			<tr>
				<td>REPAIRED?</td>
				<td>{{ report.repaired }}</td>
			</tr>
			<tr>
				<td>PART RETURNED?</td>
				<td>{{ report.part_returned }}</td>
			</tr>
			<tr>
				<td>BI LEVEL</td>
				<td>{{ report.BI_level }}</td>
			</tr>
			<tr>
				<td>IN PCSQ?</td>
				<td>{{ report.in_PCSQ }}</td>
			</tr>
			<tr>
				<td>QN NUMBER</td>
				<td>{{ report.qn_num }}</td>
			</tr>
			<tr>
				<td>ACCEPT RESPONSIBILITY?</td>
				<td>{{ report.accepts }}</td>
			</tr>
			<tr>
				<td>CONTAINMENT?</td>
				<td>{{ report.containment }}</td>
			</tr>
			<tr>
				<td>CONTAINMENT ACTIVITY</td>
				<td>{{ report.containment_activity|linebreaks }}</td>
			</tr>
			<tr>
				<td>ADDITIONAL INFORMATION</td>
				<td>{{ report.additional_info|linebreaks }}</td>
			</tr>
			<tr>
				<td>INTERNAL REPRESENTATIVE</td>
				<td>{{ report.internal_rep }}</td>
			</tr>
			<tr>
				<td>EXTERNAL REPRESENTATIVE</td>
				<td>{{ report.external_rep }}</td>
			</tr>
			<tr>
				<td>REPORTED TO</td>
				<td>{{ report.reported_to }}</td>
			</tr>
		</table>
	{% else %}
		<p>No report.</p>
	{% endif %}
</div>
{% endblock main %}

{% block scripts %}
<script type="text/javascript">
var amz_sign_s3="{% url 'qcforms:amz_sign_s3' %}";
</script>
<script src="{% static 'qcforms/qcforms.js' %}"></script>
<script src="{% static 'qcforms/qcforms_QC1_detail.js' %}"></script>
{% endblock scripts %}

