.image-col {
	padding: 20px;
}

.image-preview {
	margin: 5px;
	max-width: 400px;
	max-height: 400px
}

.image-input-btn {
	position: relative;
	overflow: hidden;
}
.image-input-btn input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
