{% extends 'shaq/project_base.html' %}

{% block title %}
shaq home
{% endblock title %}

{% block main %}
	<div class="container">

		<h1>Quick Links</h1>
		<div class="row text-center">
			<div class="col-sm-6">
				<p><a class="btn btn-block btn-primary" href="{% url 'qcforms:QC1_form' 'new' %}" role="button">New Report</a></p>
			</div>
			<div class="col-sm-6">
				<p><a class="btn btn-block btn-primary" href="{% url 'qcforms:quality_alert_form' 'new' %}" role="button">New Quality Alert</a></p>
			</div>
		</div>

		<h1>Metrics & Monitoring</h1>
		<div class="row text-center">
			<div class="col-xs-12 thumbnail">
				<img src="https://placehold.it/1800x600?text=Monitoring+Plot+1" class="img-responsive">
			</div>
			<div class="col-xs-12 thumbnail">
				<img src="https://placehold.it/1800x600?text=Monitoring+Plot+2" class="img-responsive">
			</div>
		</div>

		<h1>Form Data</h1>
		<div class="row text-center">
			<div class="col-xs-12 thumbnail">
				<img src="https://placehold.it/1800x600?text=NC+Form+DataTable" class="img-responsive">
			</div>
			<div class="col-xs-12 thumbnail">
				<img src="https://placehold.it/1800x600?text=QAlert+Form+DataTable" class="img-responsive">
			</div>
		</div>
	</div>
{% endblock main %}
