{% extends 'shaq/project_base.html' %}

{% block title %}
shaq home
{% endblock title %}

{% block main %}
	<div class="container">

		<h2>Metrics & Monitoring</h2><br>
		<div class="row text-center">
			<div class="col-xs-12 col-md-6">
				<img src="https://placehold.it/700x300?text=Monitoring+Plot+1">
			</div>
			<div class="col-xs-12 col-md-6">
				<img src="https://placehold.it/700x300?text=Monitoring+Plot+2">
			</div>
		</div>

		<h2>Form Data</h2>
		<div class="row text-center">
			<div class="col-xs-12 col-md-6">
				<img src="https://placehold.it/700x300?text=NC+Form+DataTable">
			</div>
			<div class="col-xs-12 col-md-6">
				<img src="https://placehold.it/700x300?text=QAlert+Form+DataTable">
			</div>
		</div>
	</div>
{% endblock main %}
